<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body with Border</title>
    <style>
        body {
            border: 5px solid black; /* Border di sekitar seluruh konten body */
            padding: 10px; /* Memberi jarak antara konten body dan border */
            margin: 20px; /* Memberi jarak antara border body dan tepi jendela browser */
        }
    </style>
</head>
<body>
    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'>
        <span style='font-family:"Times New Roman",serif;'>........ Hari/
            <span>Bulan/Tahun</span> *
        </span>
    </p>
</body>
</html>
